---
- hosts: localhost
  connection: local
  become: true
  tasks:
  - name : Install git
    package:
     name: git
     state: present
    
  - name: Run update
    apt:
     update_cache: true
     
  - name: Install jdk
    package:
     name: default-jdk
     state: present
  
     
  - name: Copy agents.jar file
    copy:
     src: /home/user/Downloads/agent.jar
     dest: /home/user
     
  - name: Run update
    apt:
     update_cache: yes
     
    
